<div class="ps">
  <div class="ps__header d-flex flex-row justify-content-between">
    <div class="ps__profile d-flex flex-row ">
      <div class="d-flex justify-content-center">
        <div class="pic {{data.personImg}}"></div>
      </div>
      <div class="d-flex flex-column">
        <span class="name">{{data.name}}</span>
        <span class="role">{{data.role}}</span>
        <span class="role">{{data.email}}</span>
      </div>
    </div>
    <div class="ps__qinfo d-flex flex-column justify-content-end">
      <span style="font-size: 14px;color: #777777">Q1-2019</span>
      <span style="font-size: 15px; font-weight: 600;">Ends in 65 Days</span>
    </div>
  </div>
  <div class="ps__card flex-grow-1 card-q1 d-flex flex-column">
    <div class="d-flex  align-content-stretch flex-wrap">
      <div class="app-card__tab d-flex flex-column justify-content-center">
        <span class="title">FORECAST</span>
        <span class="value">$2,119,708</span>
      </div>
      <div class="app-card__tab d-flex flex-column justify-content-center">
        <span class="title">SELF REPORTING</span>
        <span class="value">$1,350,000</span>
      </div>
      <div class="app-card__tab d-flex flex-column justify-content-center">
        <span class="title">MNGR REPORTING</span>
        <span class="value">$2,410,000 <i class="material-icons edit-icon">edit</i></span>
      </div>
      <div class="app-card__tab d-flex flex-column justify-content-center">
        <span class="title">ROLLUP</span>
        <span class="value">$2,410,000</span>
      </div>
      <div class="app-card__tab d-flex flex-column justify-content-center">
        <span class="title">QUOTA</span>
        <span class="value">$1,350,000</span>
      </div>
      <div class="app-card__tab d-flex flex-column justify-content-center">
        <span class="title">WON <i class="material-icons settings-icon">settings</i></span>
        <span class="value">$529,000</span>
        <span class="d-flex flex-row" style="height: 0px;margin-top: 2px;">
          <mat-progress-bar class="pull-left" class="won-progress" [color]="'primary'" [mode]="'determinate'"
            [value]="20" [bufferValue]="100">
          </mat-progress-bar>
          <span class="pull-left won-percent">20%</span>
        </span>
      </div>
      <div class="app-card__tab d-flex flex-column justify-content-center">
        <span class="title">EXPECTED TO BE WON</span>
        <span class="value">$1,590,708</span>
      </div>
      <div class="app-card__tab d-flex flex-column justify-content-center">
        <span class="title">CATEGORY PIPELINE</span>
        <span class="value">$10,584,280</span>
      </div>
      <div class="app-card__tab d-flex flex-column justify-content-center">
        <span class="title">STAGE PIPELINE</span>
        <span class="value">$9,185,240</span>
      </div>
      <div class="app-card__tab d-flex flex-column justify-content-center">
        <span class="title">COMMIT</span>
        <span class="value">$2.5 M</span>
      </div>
      <div class="app-card__tab d-flex flex-column justify-content-center">
        <span class="title">MOST LIKELY</span>
        <span class="value">$1.6 M</span>
      </div>
      <div class="app-card__tab d-flex flex-column justify-content-center">

      </div>
    </div>
  </div>

  <div class="ps__fcchange">
    <label>Forecast Changes</label>
    <div class="d-flex flex-row justify-content-between">
      <div class="d-flex flex-column tab" style="width: 18%; border-left: 3px solid #E1983D;">
        <span class="title">ADVANCING</span>
        <span class="value">70</span>
      </div>
      <div class="d-flex flex-column tab" style="width: 18%;  border-left: 3px solid #D4D7DC;">
        <span class="title">REGRESSING</span>
        <span class="value">46</span>
      </div>
      <div class="d-flex flex-column tab" style="width: 18%;  border-left: 3px solid #F1C533;">
        <span class="title">NEW</span>
        <span class="value">25</span>
      </div>
      <div class="d-flex flex-column tab" style="width: 18%;  border-left: 3px solid #9DCA3A;">
        <span class="title">WON</span>
        <span class="value">6</span>
      </div>
      <div class="d-flex flex-column tab" style="width: 18%;  border-left: 3px solid #FF6464;">
        <span class="title">LOST</span>
        <span class="value">18</span>
      </div>
    </div>
  </div>

  <div class="ps__bsmetrics">
    <label>Brainshark Metrics</label>
    <br>
    <div class="dial">

      <div class="c100 center" [ngClass]="{'p100': data.coachingCompleted/data.coachingTotal * 100 > 50}">
        <span>{{data.coachingCompleted}}</span>
        <div class="slice">
          <div class="bar"
            [ngStyle]="{'transform': 'rotate(' + 360 * data.coachingCompleted/data.coachingTotal + 'deg)'}">
          </div>
          <div class="fill"></div>
        </div>
      </div>
      <span style="font-size: 11px;">{{data.coachingCompleted}} of {{data.coachingTotal}} Coaching completed</span>
    </div>
    <div class="dial">
      <div class="c100 center" [ngClass]="{'p100': data.coursesCompleted/data.coursesTotal * 100 > 50}">
        <span>{{data.coursesCompleted}}</span>
        <div class="slice">
          <div class="bar"
            [ngStyle]="{'transform': 'rotate(' + 360 * data.coursesCompleted/data.coursesTotal + 'deg)'}"></div>
          <div class="fill"></div>
        </div>
      </div>
      <span style="font-size: 11px;">{{data.coursesCompleted}} of {{data.coursesTotal}} Courses completed</span>
    </div>
    <div class="dial">
      <div class="c100 center" [ngClass]="{'p100': data.curriculumCompleted/data.curriculumTotal * 100 > 50}">
        <span>{{data.curriculumCompleted}}</span>
        <div class="slice">
          <div class="bar"
            [ngStyle]="{'transform': 'rotate(' + 360 * data.curriculumCompleted/data.curriculumTotal + 'deg)'}"></div>
          <div class="fill"></div>
        </div>
      </div>
      <span style="font-size: 11px;">{{data.curriculumCompleted}} of {{data.curriculumTotal}} Curriculum
        completed</span>
    </div>
  </div>

  <div class="ps__insights">
    <label class="parent-label">
      Insights
    </label>
    <div class="ps__insights-row">
      <label class="title">48% of your open opps pushed from last period</label>
      <span class="description">It is a long established fact that a reader will be distracted by the readable content
        of a page when
        looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
        letters, as opposed to using 'Content here, content here', making it look like readable English.</span>
    </div>
    <div class="ps__insights-row">
      <label class="title">Pipeline increasing in size by 41%</label>
      <span class="description">It is a long established fact that a reader will be distracted by the readable content
        of a page when looking at its layout. The point of using Lorem Ipsum</span>
    </div>
  </div>
</div>