.ps {
  height: 100%;
  overflow-x: hidden;
  &__header {
    padding: 20px 20px;
    height: 90px;
  }
  &__profile {
    &-icon {
      font-size: 62px;
      color: #80808087;
      margin-right: 5px;
    }
  }
  .name {
    color: #222222;
    font-size: 14px;
  }
  .role {
    color: #777777;
    font-size: 12px;
  }
  .app-card {
    background-color: #f8f8f9;
    &__tab {
      width: 25%;
      border: 1px solid #e6e8ea;
      padding: 0px 0px 0px 20px;

      .title {
        color: #777777;
        font-size: 10px;
      }
      .value {
        color: #222222;
        font-size: 14px;
        margin-top: 2px;
      }
    }

    .won-progress {
      width: 60px;
    }

    .won-percent {
      color: #777777;
      font-size: 10px;
      position: relative;
      top: -6px;
      left: 10px;
    }

    .edit-icon {
      font-size: 14px;
      color: #a4aab2;
      position: relative;
      top: 2px;
      left: 26px;
    }

    .settings-icon {
      font-size: 14px;
      position: relative;
      top: 3px;
      left: 7px;
      color: #a4aab2;
    }
  }

  &__fcchange {
    padding: 20px;
    padding-top: 0px;
    label {
      color: #222222;
      font-size: 16px;
    }
    .tab {
      border: 1px solid rgba(212, 215, 220, 0.8);
      border-radius: 3px;
      background-color: #ffffff;
      height: 60px;
      justify-content: center;
      width: 18%;
      padding: 20px;
      .title {
        color: #777777;
        font-size: 10px;
      }
      .value {
        color: #222222;
        font-size: 14px;
      }
    }
  }

  &__insights {
    padding: 20px;
    padding-top: 0px;
    .parent-label {
      width: 100%;
      border-bottom: 1px solid #d4d7dc;
      height: 30px;
      margin-bottom: 0px;
    }
    .title {
      color: #222222;
      font-size: 14px;
      width: 100%;
    }
    .description {
      color: #777777;
      font-size: 13px;
    }
    &-row {
      border-bottom: 1px dashed #d4d7dc;
      padding-bottom: 15px;
      margin-top: 15px;
    }
  }
}

.pic {
  background-image: url("/assets/images/person2.jpg");
  height: 55px;
  width: 55px;
  background-size: 59px;
  background-position-x: 1px;
  border-radius: 40px;
  margin-right: 10px;
  margin-top: 2px;
}
