<div class="fsum">
  <mat-tab-group [selectedIndex]="1" [disableRipple]="true" [dynamicHeight]="true"
    (selectedTabChange)="tabChanged($event)">
    <mat-tab>
      <ng-template mat-tab-label>
        <span>My Forecast</span>
      </ng-template>
      <app-my-forecast></app-my-forecast>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span>Team Forecast</span>
      </ng-template>
      <app-team-forecast (showView)="ShowSalesRepView($event)" [rowIndex]='rowIndex'></app-team-forecast>
    </mat-tab>
  </mat-tab-group>
  <div class="forecase-info d-flex align-items-center" *ngIf="selectedIndex === 0">
    <span>Last snapshot on 15, March 2019</span>
    <button class="btn">Forecast Snapshot</button>
  </div>
</div>

<div class="fc__row" *ngIf="showPopup">
  <div class="fc__row-close">
    <i class="material-icons" (click)="closePopup()">close</i>
  </div>
  <div class="fc__row-info">
    <mat-tab-group style="width: 760px" [selectedIndex]="0" [dynamicHeight]="true">
      <mat-tab label="PROFILE SUMMARY">
        <app-profile-summary [data]="salesRepData"></app-profile-summary>
      </mat-tab>
      <mat-tab label="OPPORTUNITIES">
        <app-opportunities></app-opportunities>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>