<div class="integration d-flex flex-column">
  <div class="integration__header">
    <span class="app-labels float-left">INTEGRATIONS</span>
    <div class="float-right filter">
      <span class="app-labels-sm">SHOW</span>
      <select class="select-filter">
        <option selected='true'>All</option>
      </select>
    </div>
  </div>
  <div class="integration__content  d-flex flex-grow-1 ">
    <div class="d-flex flex-wrap align-content-start">
      <div class="integration-card">
        <div class="integration-logo">
          <div class="integration-img salesforce-img"></div>
        </div>
        <span class="integration-label">Salesforce Integration</span>
        <div class="integration-desc">
          It is a long established fact that a reader will be distracted by the readable content of a page when looking
          at its layout.
        </div>
        <div class="integration-action">
          <button type="button" class="btn btn-outline-secondary actn-btn">Action</button>
        </div>
      </div>
      <div class="integration-card">
        <div class="integration-logo">
          <div class="integration-img brainshark-img"></div>
        </div>
        <span class="integration-label">Learning & Content Management</span>
        <div class="integration-desc">
          It is a long established fact that a reader will be distracted by the readable content of a page when looking
          at its layout.
        </div>
        <div class="integration-action">
          <button type="button" class="btn btn-outline-secondary actn-btn">Action</button>
        </div>
      </div>
      <div class="integration-card">
        <div class="integration-logo">
          <div class="integration-img xactly-img"></div>
        </div>
        <span class="integration-label">Sales Performance Management</span>
        <div class="integration-desc">
          It is a long established fact that a reader will be distracted by the readable content of a page when looking
          at its layout.
        </div>
        <div class="integration-action">
          <button type="button" class="btn btn-outline-secondary actn-btn">Action</button>
        </div>
      </div>
      <div class="integration-card">
        <div class="integration-logo">
          <div class="integration-img zoominfo-img"></div>
        </div>
        <span class="integration-label">Contacts Capture</span>
        <div class="integration-desc">
          It is a long established fact that a reader will be distracted by the readable content of a page when looking
          at its layout.
        </div>
        <div class="integration-action">
          <button type="button" class="btn btn-outline-secondary actn-btn">Action</button>
        </div>
      </div>
      <div class="integration-card">
        <div class="integration-logo">
          <div class="integration-img discoverorg-img"></div>
        </div>
        <span class="integration-label">Contacts Capture</span>
        <div class="integration-desc">
          It is a long established fact that a reader will be distracted by the readable content of a page when looking
          at its layout.
        </div>
        <div class="integration-action">
          <button type="button" class="btn btn-outline-secondary actn-btn">Action</button>
        </div>
      </div>
      <div class="integration-card">
        <div class="integration-logo">
          <div class="integration-img salesforcenav-img"></div>
        </div>
        <span class="integration-label">Contacts Capture</span>
        <div class="integration-desc">
          It is a long established fact that a reader will be distracted by the readable content of a page when looking
          at its layout.
        </div>
        <div class="integration-action">
          <button type="button" class="btn btn-outline-secondary actn-btn">Action</button>
        </div>
      </div>
      <div class="integration-card">
        <div class="integration-logo">
          <div class="integration-img salesloft-img"></div>
        </div>
        <span class="integration-label">Real Time Opportunity Sequencing</span>
        <div class="integration-desc">
          It is a long established fact that a reader will be distracted by the readable content of a page when looking
          at its layout.
        </div>
        <div class="integration-action">
          <button type="button" class="btn btn-outline-secondary actn-btn">Action</button>
        </div>
      </div>
      <div class="integration-card">
        <div class="integration-logo">
          <div class="integration-img outreach-img"></div>
        </div>
        <span class="integration-label">Real Time Opportunity Sequencing</span>
        <div class="integration-desc">
          It is a long established fact that a reader will be distracted by the readable content of a page when looking
          at its layout.
        </div>
        <div class="integration-action">
          <button type="button" class="btn btn-outline-secondary actn-btn">Action</button>
        </div>
      </div>
      <div class="integration-card">
        <div class="integration-logo">
          <div class="integration-img outlook-img"></div>
        </div>
        <span class="integration-label">Outlook: Integration with Outlook accounts</span>
        <div class="integration-desc">
          It is a long established fact that a reader will be distracted by the readable content of a page when looking
          at its layout.
        </div>
        <div class="integration-action">
          <button type="button" class="btn btn-outline-secondary actn-btn">Action</button>
        </div>
      </div>
      <div class="integration-card">
        <div class="integration-logo">
          <div class="integration-img gmail-img"></div>
        </div>
        <span class="integration-label">Gmail: Integration with Gmail accounts</span>
        <div class="integration-desc">
          It is a long established fact that a reader will be distracted by the readable content of a page when looking
          at its layout.
        </div>
        <div class="integration-action">
          <button type="button" class="btn btn-outline-secondary actn-btn">Action</button>
        </div>
      </div>
    </div>
  </div>
</div>