<div class="container-fluid app d-flex flex-column">
  <div class="header">
    <div class="header__logo float-left">
    </div>
    <div class="header__actions float-right">
      <i class="material-icons">
        search
      </i>
      <i class="material-icons">
        notifications_none
      </i>
      <div class="float-right header__actions_account">
        <i class="material-icons pic">
          account_circle
        </i>
        <span>Jim Eberlin</span>
        <i class="material-icons" style="margin-left: 2.5rem">
          arrow_drop_down
        </i>
      </div>
    </div>
  </div>
  <div class="body d-flex flex-grow-1">
    <div class="navigation">
      <app-navigation></app-navigation>
    </div>
    <div class="content">
      <app-content></app-content>
    </div>
  </div>
</div>