.app {
  min-height: 100%;
  .header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 66px;
    &__logo {
      align-items: center;
      height: 100%;
      background-image: url("/assets/images/topopps-logo.png");
      background-repeat: no-repeat;
      width: 196px;
      background-position-y: center;
      background-size: 151px;
    }
    &__actions {
      height: 100%;
      width: 325px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      i {
        margin: 0px 5px 0px 5px;
        font-size: 1.8rem;
        color: #a4aab2;
      }
      &_account {
        display: flex;
        justify-content: center;
        align-items: center;
        .pic {
          background-image: url("/assets/images/jim.jpg");
          margin-right: 4px;
          height: 45px;
          width: 45px;
          background-size: 40px 40px;
          border-radius: 40px;
          border: 2px solid #9dca3a;
          margin-left: 10px;
        }
      }
    }
  }
  .body {
    .navigation {
      min-height: 100%;
      width: 100px;
    }
    .content {
      width: 100%;
    }
  }
}
