/* You can add global styles to this file, and also import other style files */
@import "~material-design-icons/iconfont/material-icons.css";

body {
  background-color: #f8f8f9;
  height: 100vh;
}

.container-fluid {
  padding: 0px 0px;
  padding-left: 0px;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #9dca3a;
}

.mat-form-field-underline {
  display: none;
}

.mat-progress-bar-fill::after {
  background-color: #9dca3a;
}

.mat-progress-bar.mat-warn .mat-progress-bar-fill::after {
  background-color: #ff6464;
}

.mat-progress-bar-buffer,
.mat-progress-bar.mat-warn .mat-progress-bar-buffer {
  background-color: #eaeef1;
}

.app-card {
  border: 1px solid #d4d7dc;
  border-radius: 3px;
  background-color: #ffffff;
  height: 100%;
}

.mat-tab-group,
.mat-tab-body-wrapper,
mat-tab-body {
  height: 100%;
}

.mat-tab-label {
  font-family: "Segoe UI";
  font-size: 13px;
  line-height: 24px;
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 12px !important;
}

td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type {
  padding-right: 12px !important;
}

.mat-tab-label-active {
  span {
    color: #222222 !important;
  }
}

.mat-header-cell {
  font-weight: 400;
}

.mat-cell,
.mat-footer-cell {
  color: #222222;
}

.nav-svg {
  height: 30px;
  width: 32px;
  background-size: 30px !important;
  background-repeat: no-repeat !important;
  margin-bottom: 2px;
}
.forecast-icon {
  background: url("/assets/svg/forecast.svg");
}
.analyst-icon {
  background: url("/assets/svg/analytics.svg");
}
.report-icon {
  background: url("/assets/svg/Reports.svg");
}
.funnel-icon {
  background: url("/assets/svg/funnel.svg");
}
.coach-icon {
  background: url("assets/svg/presentation.svg");
}
.home-icon {
  background: url("assets/svg/home.svg");
}
.help-icon {
  background: url("assets/svg/help.svg");
  height: 37px;
  width: 30px;
}
.settings-icon {
  background: url("assets/svg/settings.svg");
}
