@import "./base/variables";

@import "./header";
@import "./sidenav";
@import "./table";
@import "./profiles";
@import "./progress-bar";

* {
  transition: all linear 0.2s;
}

.app {
  min-height: 100%;

  .body {
    padding-top: 66px;

    .navigation {
      min-height: 100%;
      // width: 100px;
    }

    .content {
      // overflow-x: scroll;
      min-width: 780px;
      width: 100%;
    }
  }
}


@media (max-width: 950px) {
  .app {
    .body {
      padding-top: 60px;

      .content {
        overflow-x: scroll;
      }
    }
  }
}

.app-labels {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
}

.app-labels-sm {
  color: #777777;
  font-size: 10px;
}


.app-card {
  &__tab {
    width: 150px;
    // border: 1px solid #d4d7dc;
    padding: 0px 0px 0px 20px;
    // border-top: none;
    // border-right: none;
    overflow: hidden;
    height: 80px;
    margin: -0.5px;
    border: 1px solid #d4d7dc;

    background: #fff;

    .title {
      color: #777777;
      font-size: 10px;
    }

    .value {
      color: #222222;
      font-size: 14px;
      margin-top: 2px;
    }

    .edit-icon {
      font-size: 14px;
      color: #a4aab2;
      position: relative;
      top: 2px;
      left: 26px;
    }

    .settings-icon {
      font-size: 14px;
      position: relative;
      top: 3px;
      left: 7px;
      color: #a4aab2;
    }

    .won-progress {
      width: 60px;
    }

    .won-percent {
      color: #777777;
      font-size: 10px;
      position: relative;
      top: -6px;
      left: 10px;
    }
  }


}
