.person1 {
  background-image: url("/assets/images/person1.jpg");
  height: 40px;
  width: 40px;
  background-size: 58px;
  background-position-x: -6px;
  border-radius: 40px;
  margin-right: 4px;
}

.person2 {
  background-image: url("/assets/images/person2.png");
  height: 40px;
  width: 40px;
  background-size: 45px;
  background-position-x: -6px;
  border-radius: 40px;
  margin-right: 4px;
}

.person3 {
  background-image: url("/assets/images/person3.jpg");
  height: 40px;
  width: 40px;
  background-size: 40px;
  background-position-x: 0px;
  border-radius: 40px;
  margin-right: 4px;
}

.person4 {
  background-image: url(/assets/images/person4.jpg);
  height: 40px;
  width: 40px;
  background-size: 91px;
  background-position-x: -26px;
  border-radius: 40px;
  margin-right: 4px;
  background-repeat: no-repeat;
  background-position-y: -1px;
}

.pic.person4 {
  background-size: 133px !important;
  background-position-x: -38px !important;
}

.person5 {
  background-image: url("/assets/images/person5.jpg");
  height: 40px;
  width: 40px;
  background-size: 40px;
  background-position-x: 0px;
  border-radius: 40px;
  margin-right: 4px;
}


.person6 {
  background-image: url("/assets/images/person6.jpg");
  height: 40px;
  width: 40px;
  background-size: 40px;
  background-position-x: 0px;
  border-radius: 40px;
  margin-right: 4px;
}


.person7 {
  background-image: url("/assets/images/person7.jpeg");
  height: 40px;
  width: 40px;
  background-size: 40px;
  background-position-x: 0px;
  border-radius: 40px;
  margin-right: 4px;
}


.person8 {
  background-image: url("/assets/images/person8.jpg");
  height: 40px;
  width: 40px;
  background-size: 40px;
  background-position-x: 0px;
  border-radius: 40px;
  margin-right: 4px;
}
