<div class="side-bar">
  <div class="nav-item" routerLink="/home" routerLinkActive="active">
    <div class="nav-svg home-icon">

    </div>
    <span>Home</span>
  </div>
  <div class="nav-item" routerLink="/analyst" routerLinkActive="active">
    <div class="nav-svg analyst-icon">

    </div>
    <span>Analyst</span>
  </div>
  <div class="nav-item" routerLink="/funnel" routerLinkActive="active">
    <div class="nav-svg funnel-icon">

    </div>
    <span>Funnel</span>
  </div>
  <div class="nav-item" routerLink="/forecast" routerLinkActive="active">
    <div class="nav-svg forecast-icon">

    </div>
    <span>Forecast</span>
  </div>
  <div class="nav-item" routerLink="/coach" routerLinkActive="active">
    <div class="nav-svg coach-icon">

    </div>
    <span>Coach</span>
  </div>
  <div class="nav-item" routerLink="/reporting" routerLinkActive="active">
    <div class="nav-svg report-icon">

    </div>
    <span>Reporting</span>
  </div>
  <div class="nav-item" routerLink="/settings" routerLinkActive="active">
    <div class="nav-svg settings-icon">

    </div>
    <span>Settings</span>
  </div>
  <div class="nav-item" routerLink="/help" routerLinkActive="active">
    <div class="nav-svg help-icon">

    </div>
    <span>Help</span>
  </div>
</div>