<div class="side-bar">
  <div class="nav-item" routerLink="/home" routerLinkActive="active">
    <i class="material-icons">
      home
    </i>
    <span>Home</span>
  </div>
  <div class="nav-item" routerLink="/analyst" routerLinkActive="active">
    <i class="material-icons">
      search
    </i>
    <span>Analyst</span>
  </div>
  <div class="nav-item" routerLink="/funnel" routerLinkActive="active">
    <i class="material-icons">
      call_split
    </i>
    <span>Funnel</span>
  </div>
  <div class="nav-item" routerLink="/forecast" routerLinkActive="active">
    <i class="material-icons">
      show_chart
    </i>
    <span>Forecast</span>
  </div>
  <div class="nav-item" routerLink="/coach" routerLinkActive="active">
    <i class="material-icons">
      person_outline
    </i>
    <span>Coach</span>
  </div>
  <div class="nav-item" routerLink="/reporting" routerLinkActive="active">
    <i class="material-icons">
      pie_chart
    </i>
    <span>Reporting</span>
  </div>
  <div class="nav-item" routerLink="/settings" routerLinkActive="active">
    <i class="material-icons">
      settings
    </i>
    <span>Settings</span>
  </div>
  <div class="nav-item" routerLink="/help" routerLinkActive="active">
    <i class="material-icons">
      live_help
    </i>
    <span>Help</span>
  </div>
</div>